/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 11:42:21 AM
    Author     : felipe
*/
html body md-checkbox.md-default-theme:not(.md-checked) .md-icon,
html body md-checkbox:not(.md-checked) .md-icon {
  border-color: rgba(0, 0, 0, 0.35);
  width: 18px;
  height: 18px;
  margin: 0px 3px 0 0;
}
html body md-checkbox {
  margin-top: 12px;
}
html body md-checkbox.md-checked .md-icon {
  background-color: #41918A;
}
html body md-checkbox.md-checked .md-icon:after {
  border-color: #ededed;
}
html body md-checkbox .md-label {
  font-family: "ProximaNovaLight";
  color: #666666;
  margin-left: 28px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}
html body md-checkbox .md-label a {
  color: #41918a;
}
html body md-checkbox + .error {
  margin-top: -15px;
  margin-left: 30px;
  font-size: 13px;
  color: #e83b3f;
  margin-bottom: 24px;
}
html body md-radio-button.md-default-theme:not([disabled]).md-primary .md-on,
html body md-radio-button:not([disabled]).md-primary .md-on,
html body md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on,
html body md-radio-button:not([disabled]) .md-primary .md-on,
html body md-radio-group.md-default-theme:not([disabled]).md-primary .md-on,
html body md-radio-group:not([disabled]).md-primary .md-on,
html body md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on,
html body md-radio-group:not([disabled]) .md-primary .md-on {
  background-color: #41918a !important;
}
html body md-radio-button.md-default-theme .md-off,
html body md-radio-button .md-off {
  border-color: rgba(0, 0, 0, 0.35);
}
html body md-radio-button:not([disabled]).md-primary.md-checked .md-off {
  border-color: #41918A;
}
html body md-radio-group {
  margin-top: 12px;
  margin-bottom: 16px;
}
html body md-radio-group md-radio-button .md-label {
  font-family: "ProximaNovaLight";
  color: #666666;
  margin-left: 28px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}
html body button md-checkbox {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
html body div.upload {
  margin: 0  0 24px 0;
}
html body div.upload label {
  font-size: 13px;
  font-family: Verdana;
  color: #64bcb4;
  margin-bottom: 8px;
  display: block;
}
html body div.upload .text-helper {
  font-size: 13px;
  font-family: Verdana;
  color: #9e9e9e;
  margin-top: 8px;
  display: block;
}
html body div.upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  border: dashed 1px #9e9e9e;
}
html body div.upload .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.16);
}
html body div.upload .image-wrap {
  max-height: 120px;
  overflow: hidden;
  border-radius: 4px;
  height: 120px;
  max-width: 120px;
  padding: 0;
  position: relative;
  width: 120px;
  border: solid 2px rgba(0, 0, 0, 0.16);
  display: block;
}
html body div.upload .image-wrap img {
  width: 100%;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}
html body div.upload .image-wrap .edit {
  cursor: pointer;
  width: 120px;
  height: 48px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-family: "ProximaNovaSemiBold";
  line-height: 1;
}
html body div.upload .image-wrap .edit .material-icons {
  margin-right: 8px;
}
html body div.upload .image-wrap .edit span {
  margin-top: 1px;
}
html body div.upload .image-wrap md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
html body div.upload .image-wrap md-input-container:not(.md-input-invalid).md-input-focused .md-input,
html body div.upload .image-wrap md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
html body div.upload .image-wrap md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-bottom-color: #64BCB4 !important;
}
html body div.upload .image-wrap md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
html body div.upload .image-wrap md-input-container:not(.md-input-invalid).md-input-focused label,
html body div.upload .image-wrap md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
html body div.upload .image-wrap md-input-container:not(.md-input-invalid).md-input-focused md-icon {
  color: #64BCB4 !important;
}
html body form button,
html body form select,
html body form html,
html body form textarea,
html body form input {
  font-family: "ProximaNova";
}
html body form md-input-container {
  margin: 25px 0 0 0;
}
html body form md-input-container .md-input {
  line-height: 1;
  padding: 8px 0!important;
}
html body form md-input-container label {
  line-height: 1;
}
html body form md-input-container.disabled label {
  color: rgba(0, 0, 0, 0.35) !important;
}
html body form md-input-container.md-input-focused label:not(.md-no-float),
html body form md-input-container.md-input-has-value label:not(.md-no-float) {
  transform: translate3d(0, 6px, 0) scale(0.9);
}
html body form md-input-container .md-input-message-animation,
html body form md-input-container .md-char-counter {
  font-size: 13px;
}
html body form .md-char-counter {
  color: #9E9E9E;
}
html body form md-select .md-select-value,
html body form md-input-container .md-input,
html body form .md-select-value > span:not(.md-select-icon) .md-text {
  color: #666666;
  border-color: #9E9E9E;
}
html body form .md-select-value > span.md-select-icon {
  color: rgba(0, 0, 0, 0.35);
}
html body form .side-by-side md-input-container {
  padding: 2px 12px;
}
html body form .side-by-side md-input-container:first-of-type {
  padding: 2px 20px 2px 2px;
}
html body form .side-by-side md-input-container:last-of-type {
  padding: 2px 2px 2px 20px;
}
html body form .side-by-side md-input-container + md-input-container label:not(.md-no-float):not(.md-container-ignore),
html body form .side-by-side md-input-container + md-input-container .hint {
  padding-left: 20px;
}
html body form .larguraX {
  color: #666666;
  font-size: 16px;
  position: absolute;
  margin: 5px 0 0 1.2px;
}
html body form label.active {
  transform: translate3d(0, 6px, 0) scale(0.8) !important;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.9px;
}
html body form .checkbox-all md-checkbox {
  margin-top: 8px;
  margin-bottom: 0;
}
html body form md-checkbox {
  margin-bottom: 16px;
}
html body form .footer-form {
  background-color: #F5F5F5;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
}
html body form .footer-form.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}
html body md-input-container {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */
}
html body md-input-container .hint {
  display: none;
}
html body md-input-container.md-input-focused:not(.md-input-invalid) .hint {
  /* Position the hint */
  display: block;
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 13px;
  font-family: "Verdana";
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: rgba(0, 0, 0, 0.35);
}
html body md-input-container .hint.ng-hide,
html body md-input-container .hint.ng-enter,
html body md-input-container .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}
html body md-input-container .hint.ng-leave,
html body md-input-container .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}
html body md-input-container i.for-input {
  position: absolute;
  right: 5px;
  top: 3px;
  display: none;
}
html body md-input-container input.ng-untouched.ng-empty + div + i.for-input {
  color: #9e9e9e;
}
html body md-input-container input.ng-touched.ng-invalid + div + i.for-input {
  color: #EF5350;
  display: block;
}
html body md-input-container input.ng-valid.ng-valid-cpf + div + i + i.for-input,
html body md-input-container input.ng-valid + div + i + i.for-input {
  color: #41918a;
  display: block;
}
html body md-autocomplete[md-floating-label] {
  height: 70px !important;
}
html body .form-card {
  width: 100%;
}
html body .form-card .footer {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  padding: 24px;
}
html body .form-card .footer .md-button {
  line-height: 1.1;
  font-size: 16px;
  font-family: "ProximaNovaSemiBold";
  margin-top: 0;
  padding: 8px;
  margin-bottom: 0;
  margin-right: 0;
}
html body .search-input md-input-container {
  overflow: hidden;
  height: 40px;
  margin: 0 0 0 0;
  padding: 0 36px;
}
html body .search-input md-input-container.md-input-focused label {
  display: none !important;
}
html body .search-input md-input-container.md-input-has-placeholder label {
  display: none !important;
}
html body .search-input md-input-container.md-input-has-value label {
  display: none !important;
}
html body .search-input md-input-container input {
  margin: 0;
  font-family: "ProximaNova";
  width: 100%;
  color: #666666;
}
html body .search-input md-input-container .md-errors-spacer {
  display: none;
}
html body .search-input md-input-container md-icon {
  color: rgba(0, 0, 0, 0.6);
}
html body .search-input md-input-container.md-icon-right > md-icon:last-of-type {
  margin: 0;
  right: 1px;
  left: auto;
  top: 7px;
}
@media screen and (max-width: 600px) {
  md-input-container.md-input-focused:not(.md-input-invalid) .hint {
    bottom: -8px;
    left: -2px;
    padding-left: 5px;
  }
}
/*# sourceMappingURL=form.css.map */