/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2017, 11:35:58 AM
    Author     : felipe
*/
html body .margin-none {
  margin: 0 !important;
}
html body .margin-8 {
  margin: 8px;
}
html body .margin-16 {
  margin: 16px;
}
html body .margin-24 {
  margin: 24px;
}
html body .margin-top-none {
  margin-top: 0 !important;
}
html body .margin-top-8 {
  margin-top: 8px;
}
html body .margin-top-16 {
  margin-top: 16px;
}
html body .margin-top-24 {
  margin-top: 24px;
}
html body .margin-right-none {
  margin-right: 0 !important;
}
html body .margin-right-8 {
  margin-right: 8px;
}
html body .margin-right-16 {
  margin-right: 16px;
}
html body .margin-right-24 {
  margin-right: 24px;
}
html body .margin-bottom-none {
  margin-bottom: 0 !important;
}
html body .margin-bottom-8 {
  margin-bottom: 8px;
}
html body .margin-bottom-16 {
  margin-bottom: 16px;
}
html body .margin-bottom-24 {
  margin-bottom: 24px;
}
html body .margin-left-none {
  margin-left: 0 !important;
}
html body .margin-left-8 {
  margin-left: 8px;
}
html body .margin-left-16 {
  margin-left: 16px;
}
html body .margin-left-24 {
  margin-left: 24px;
}
html body .padding-none {
  padding: 0 !important;
}
html body .padding-8 {
  padding: 8px;
}
html body .padding-16 {
  padding: 16px;
}
html body .padding-24 {
  padding: 24px;
}
html body .padding-top-none {
  padding-top: 0 !important;
}
html body .padding-top-8 {
  padding-top: 8px;
}
html body .padding-top-16 {
  padding-top: 16px;
}
html body .padding-top-24 {
  padding-top: 24px;
}
html body .padding-right-none {
  padding-right: 0 !important;
}
html body .padding-right-8 {
  padding-right: 8px;
}
html body .padding-right-16 {
  padding-right: 16px;
}
html body .padding-right-24 {
  padding-right: 24px;
}
html body .padding-bottom-none {
  padding-bottom: 0 !important;
}
html body .padding-bottom-8 {
  padding-bottom: 8px;
}
html body .padding-bottom-16 {
  padding-bottom: 16px;
}
html body .padding-bottom-24 {
  padding-bottom: 24px;
}
html body .padding-left-none {
  padding-left: 0 !important;
}
html body .padding-left-8 {
  padding-left: 8px;
}
html body .padding-left-16 {
  padding-left: 16px;
}
html body .padding-left-24 {
  padding-left: 24px;
}
html body .layout-padding-gt-sm,
html body .layout-padding-md,
html body .layout-padding > *,
html body .layout-padding-gt-sm > *,
html body .layout-padding-md > *,
html body .layout-padding > .flex,
html body .layout-padding > .flex-gt-sm,
html body .layout-padding > .flex-md {
  padding: 0;
}
html body .layout-padding {
  padding: 24px;
}
html body .layout-padding-no-top {
  padding: 0 24px 24px 24px;
}
html body .layout-padding-no-right {
  padding: 24px 0 24px 24px;
}
html body .layout-padding-no-bottom {
  padding: 24px 24px 0 24px;
}
html body .layout-padding-no-left {
  padding: 24px 24px 24px 0;
}
html body .layout-padding-no-top-bottom {
  padding: 0 24px;
}
html body .layout-padding-no-left-right {
  padding: 0 24px;
}
html body .layout-padding-top {
  padding-top: 24px;
}
html body .layout-padding-right {
  padding-right: 24px;
}
html body .layout-padding-bottom {
  padding-bottom: 24px;
}
html body .layout-padding-left {
  padding-left: 24px;
}
html body .color .white {
  color: #fafafa;
}
html body .color .grey-50 {
  color: rgba(0, 0, 0, 0.07);
}
html body .color .grey-100 {
  color: rgba(0, 0, 0, 0.16);
}
html body .color .grey-200 {
  color: rgba(0, 0, 0, 0.35);
}
html body .color .grey-600 {
  color: rgba(0, 0, 0, 0.6);
}
html body .color .grey-800 {
  color: rgba(0, 0, 0, 0.72);
}
html body .color .blue-300 {
  color: #64BCB4;
}
html body .color .blue-600 {
  color: #41918A;
}
html body .color .red-300 {
  color: #EE003E;
}
html body .color .red-600 {
  color: #EE003E;
}
html body .bg .white {
  background-color: #fafafa;
}
html body .bg .grey-50 {
  background-color: rgba(0, 0, 0, 0.07);
}
html body .bg .grey-100 {
  background-color: rgba(0, 0, 0, 0.16);
}
html body .bg .grey-200 {
  background-color: rgba(0, 0, 0, 0.35);
}
html body .bg .grey-600 {
  background-color: rgba(0, 0, 0, 0.6);
}
html body .bg .grey-800 {
  background-color: rgba(0, 0, 0, 0.72);
}
html body .bg .blue-100 {
  background-color: #98E0DA;
}
html body .bg .blue-200 {
  background-color: #74D3CB;
}
html body .bg .blue-300 {
  background-color: #64BCB4;
}
html body .bg .blue-600 {
  background-color: #41918A;
}
html body .bg .blue-800 {
  background-color: #326E69;
}
html body .bg .red-100 {
  background-color: #FF2D65;
}
html body .bg .red-200 {
  background-color: #FD0B4A;
}
html body .bg .red-300 {
  background-color: #EE003E;
}
html body .bg .red-600 {
  background-color: #EE003E;
}
html body .bg .red-800 {
  background-color: #7F0322;
}
html body .bg .green-100 {
  background-color: #70E0BC;
}
html body .bg .green-200 {
  background-color: #47D3A7;
}
html body .bg .green-300 {
  background-color: #37BC92;
}
html body .bg .green-600 {
  background-color: #29896B;
}
html body .bg .green-800 {
  background-color: #236D56;
}
html body .bg .orange-100 {
  background-color: #FFAA7F;
}
html body .bg .orange-200 {
  background-color: #FF9966;
}
html body .bg .orange-300 {
  background-color: #FF884C;
}
html body .bg .orange-600 {
  background-color: #D87341;
}
html body .bg .orange-800 {
  background-color: #B75B2D;
}
html body .bg .pink-100 {
  background-color: #F97CA6;
}
html body .bg .pink-200 {
  background-color: #F26091;
}
html body .bg .pink-300 {
  background-color: #D8527C;
}
html body .bg .pink-600 {
  background-color: #AD345A;
}
html body .bg .pink-800 {
  background-color: #842745;
}
html body .bg .purple-100 {
  background-color: #9885AA;
}
html body .bg .purple-200 {
  background-color: #857199;
}
html body .bg .purple-300 {
  background-color: #695A78;
}
html body .bg .purple-600 {
  background-color: #4F435B;
}
html body .bg .purple-800 {
  background-color: #3D3545;
}
html body md-table-container {
  margin: 24px 0;
}
html body md-table-container .load-table {
  width: 100%;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
html body md-table-container table.md-table {
  padding-bottom: 0px;
  min-width: 868px;
}
html body md-table-container table.md-table.disableMinWidth {
  min-width: 0;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column + th.md-column:last-of-type span {
  float: right;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column + th.md-column:last-of-type md-icon {
  margin: 0px 8px 0px 0px;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.16);
  padding: 0 24px 0 0;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column .md-sort-icon {
  width: 16px;
  height: 16px;
  min-width: inherit;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column.md-active .md-sort-icon {
  color: rgba(0, 0, 0, 0.6);
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column span {
  display: inline-block;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column span,
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column a,
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column a span {
  font-family: "ProximaNovaSemiBold";
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column:last-of-type {
  text-align: right;
}
html body md-table-container table.md-table thead.md-head tr.md-row th.md-column:first-of-type {
  padding-left: 24px;
}
html body md-table-container table.md-table tbody.md-body:before {
  content: "-";
  display: block;
  line-height: 8px;
  color: transparent;
}
html body md-table-container table.md-table tbody.md-body.disableBefore:before {
  display: none;
}
html body md-table-container table.md-table tbody.md-body tr.md-row {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
html body md-table-container table.md-table tbody.md-body tr.md-row:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.02);
}
html body md-table-container table.md-table tbody.md-body tr.md-row:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell {
  font-family: "ProximaNovaLight";
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  border: none;
  letter-spacing: 0;
  line-height: 1.1;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell:nth-child(n+2):nth-last-child(n+2) {
  padding: 8px 12px 8px 0;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  display: flex;
  align-items: center;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell a.last span {
  width: 100%;
  text-align: right;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell.img img {
  margin-right: 12px;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell md-icon {
  color: rgba(0, 0, 0, 0.35);
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell .points-offer {
  border-radius: 100px;
  background-color: #ff4081;
  padding: 8px 16px;
  color: #ffffff;
  font-family: "ProximaNovaSemiBold";
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell .matrix {
  border-radius: 4px;
  background-color: #ffecb3;
  font-family: "ProximaNovaLight";
  padding: 8px 16px;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell .date {
  line-height: 1.1;
  font-size: 14px;
  text-align: center;
  display: block;
  font-style: normal;
  font-stretch: normal;
  color: rgba(0, 0, 0, 0.35);
  letter-spacing: 0;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell h3 {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  font-family: "ProximaNovaLight";
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell h3 small {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell span small {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
}
html body md-table-container table.md-table tbody.md-body tr.md-row td.md-cell + td.md-cell:last-of-type {
  padding-right: 24px;
  text-align: right;
}
html body md-table-container table.md-table tbody.md-body.no-zebra tr.md-row {
  background: #fafafa;
}
html body md-table-container table.md-table tbody.md-body.no-zebra tr.md-row:nth-child(2n+2) {
  background: #fafafa;
}
html body md-table-container table.md-table tbody.md-body.no-zebra tr.md-row:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
html body md-table-container table.md-table.list-table {
  min-width: 0px;
  border-collapse: collapse;
}
html body md-table-container table.md-table.list-table tbody.md-body:before {
  display: none;
}
html body md-table-container table.md-table.list-table tr.md-row {
  border-bottom: 1px solid #e8e8e8;
}
html body md-table-container table.md-table.list-table tr.md-row td.md-cell {
  text-align: left;
}
html body .head-title .md-title {
  margin-bottom: 24px;
}
html body .text-size-11 {
  font-size: 11px;
}
html body .text-size-14 {
  font-size: 14px;
}
html body .text-size-16 {
  font-size: 16px;
}
html body .text-size-18 {
  font-size: 18px;
}
html body .text-size-20 {
  font-size: 20px;
}
html body .text-size-24 {
  font-size: 24px;
}
html body .text-size-28 {
  font-size: 28px;
}
html body .text-size-32 {
  font-size: 32px;
}
html body .text-align-center {
  text-align: center;
}
html body .text-align-left {
  text-align: left;
}
html body .text-align-right {
  text-align: right;
}
html body .text-family-normal {
  font-family: "ProximaNova";
}
html body .text-family-semiBold {
  font-family: "ProximaNovaSemiBold";
}
html body .text-family-bold {
  font-family: "ProximaNovaBold";
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: "ProximaNova";
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.6);
}
html body h1 md-icon,
html body h2 md-icon,
html body h3 md-icon,
html body h4 md-icon,
html body h5 md-icon,
html body h6 md-icon {
  vertical-align: bottom !important;
}
html body h1 md-icon.light,
html body h2 md-icon.light,
html body h3 md-icon.light,
html body h4 md-icon.light,
html body h5 md-icon.light,
html body h6 md-icon.light {
  color: #a2a2a2;
}
html body h1 i,
html body h2 i,
html body h3 i,
html body h4 i,
html body h5 i,
html body h6 i,
html body h1 img,
html body h2 img,
html body h3 img,
html body h4 img,
html body h5 img,
html body h6 img {
  vertical-align: sub;
}
html body h1.info,
html body h2.info,
html body h3.info,
html body h4.info,
html body h5.info,
html body h6.info {
  font-family: "ProximaNova";
  font-size: 18px;
  line-height: 1;
  color: #9E9E9E;
  padding: 12px 16px;
}
html body md-card .md-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
html body .custom-chips md-chip md-chip,
html body .md-chips md-chip {
  font-family: "ProximaNova";
  background: rgba(0, 0, 0, 0.07);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .custom-chips md-chip md-chip .md-chip-content,
html body .md-chips md-chip .md-chip-content {
  height: 16px;
}
html body .custom-chips md-chip md-chip .md-chip-content span,
html body .md-chips md-chip .md-chip-content span {
  margin-right: 5px;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
}
html body .custom-chips md-chip md-chip .md-chip-remove-container,
html body .md-chips md-chip .md-chip-remove-container {
  line-height: normal;
}
html body .custom-chips md-chip md-chip .md-chip-remove,
html body .md-chips md-chip .md-chip-remove {
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  margin: 8px;
}
html body .custom-chips md-chip md-chip .md-chip-remove md-icon,
html body .md-chips md-chip .md-chip-remove md-icon {
  transform: scale(0.8);
  min-width: 16px;
  min-height: 16px;
  color: #fafafa;
  padding: 0;
  font-size: 16px;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}
html body .custom-chips md-chip md-chip .md-chip-remove:hover,
html body .md-chips md-chip .md-chip-remove:hover {
  background: rgba(0, 0, 0, 0.35);
}
html body md-chips .md-chips {
  box-shadow: 0 1px rgba(0, 0, 0, 0.35);
}
html body .chips-header md-chips-wrap {
  box-shadow: none ;
  padding: 0 ;
  float: right;
}
html body .chips-header .md-chips md-chip {
  margin: 8px 0 0 8px;
}
html body .chips-header .md-chip-input-container {
  display: none !important;
}
/*# sourceMappingURL=utils.css.map */